Package: edo-django
Version: 0.0.1
Section: web
Priority: optional
Maintainer: bennof
Homepage: http://
Architecture: all
Depends: edo-nginx, edo-python, edo-sql, python-sqlite, sqlite
Description: django server tools

